a:link{
	color:white;
	background: inherit;
	text-decoration: underline
}
a:visited{
	text-decoration: underline;
	background: inherit;
	color: white;
}
a:hover{
	font-weight: bolder;
	color: white;
	background: inherit;
}

a:active{
	color: white;
}

#aFondo{
	color: blue;
}

#asideLeft{
	background-color: black;
	width: 310px;
	height: 310px;
	margin-left: 230px;
	margin-top: 60px;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 50px;
}

#asideRight{
	float: right;
	text-align: center;
	margin-right: 10%;
	margin-top: 2%;
}

body {
	margin: 20px 0;
	padding: 0;
	font: normal 0.72em/1.5em 'Trebuchet MS', sans-serif;
	color:#444;
	height: 100%;
	background-color: black;
}
#aereo img{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#boxTitolo{
	position: absolute;
	left: 14px;
	top: 15px;
	width: 500px;
	height: 156px;
	border-radius: 10px;
	background-color: #9090BA;
}

#boxTitolo h1{
	position: absolute;
	letter-spacing: -2px;
	color: #FFF;
	margin: 0;
	padding: 0;
	font: bolder 60px 'Trebuchet MS', Sans-serif;
	left: 22px;
	top: 57px;	
}

col{
	border: solid blue;
}

#commentoScelta{
	float: left;
	text-align: center;
	width: 100%;
	height: 30%;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 20px;	
	padding-top: 0;
}

#esempio{
	float: left;
	width:50%;
	margin: 0 0 10px 0;
}

#fondoPagina{
	text-align: center;
	font-family: "Courier New", monospace;
	font-size: 25px;
	width:350px;
	margin-left: 30px;
}

#fondoPagina a{
	color: white;
}


form{
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	padding-bottom: 5px;
}
.sign_in_error{
	margin-top: 5px;
	margin-bottom: 5px;
	margin: auto;
	width: 75%;
	position: relative;
	background-color: rgba(255, 0, 0, 0.2);
	border: 1px solid rgba(255, 0, 0, 0.8);
	border-radius: 4px;
	color: rgb(132, 3, 3);
	text-align: center;
	text-shadow: 0 0 3px rgb(255, 255, 255);
	padding: 5px;
}

.formSign{
	float: left;
	width: 400px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 30px;
}

footer{
	clear: both;
	padding: 5em;
	text-align: center;
}

#footer{
	text-align: left;
}

footer p{
	margin:2px;
	color:#FFF;
}

#griglia{
	width: 45%;
	height: 100%;
	margin-top: 8%;
	margin-bottom: 10%;
	margin-left: 26%;
	margin-right: 30%;
	background-color: blue;
}

h1{
	font-weight: bold;
	text-align: center;
        float: center;
	background: inherit;
	font: bolder 24px 'Trebuchet MS', sans-serif;
/*	color: rgb(185, 163, 219);*/
        color: rgba(255, 255, 255, 0.8);
	font-size: 40pt;
	text-shadow: 3px 3px rgba(0,0,0,0.4);
	margin-right: 10%;
}

header{
	position: relative;
	text-align: left;
	margin:0;
	padding: 0;
}

#imgFondo{
	float: left;
	margin-top: 0;
	margin-bottom: 60%;
}

#logo{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 235px;
	height: 156px;
	background-color: #FFF;
	background-repeat: no-repeat;
	margin-right: 10px;
}

#main{
	margin-left: 20%;
	background-color: black;
	opacity: 0.5;
	border-radius: 30px;
	float: left;
	width: 60%;
	margin-top: 10%;
	position: absolute;

}
#da{
	text-align: left;
	margin-top: 10%;
	margin-left: 10%;
	font: bolder 24px 'Trebuchet MS', sans-serif;
}
#dataA{
	text-align: left;
	margin-top: 5%;
	margin-left: 7%;
	font: bolder 24px 'Trebuchet MS', sans-serif;
}
#dataR{
	text-align: right;
	margin-top: -2.5%;
	margin-right: 7%;
	font: bolder 24px 'Trebuchet MS', sans-serif;
}
#a{
	text-align: right;
	margin-top: -2.5%;
	margin-right: 12%;
	font: bolder 24px 'Trebuchet MS', sans-serif;
}
#tipoVolo{
	margin-top: 5%;
}
#pulsante input{
	float: inside;
	margin-top: 5%;
	height: 100px;
	width: 300px;
	border-radius: 20px;
	background-color: black;
	font: bolder 24px 'Trebuchet MS', sans-serif;
	color: white;

}
#main form{
	font-size: 15pt;
	margin-bottom: 10%;
	float: center;
	text-align: center;
	margin-left: 30px;
}

#main h3{
	font-size: 15pt;
	text-align: center;
	margin-left: 30px;

}



#mio_form{
	border: none;
	float: left;
	height: 30%;
	width: 13%;
	margin-left: 0;

}

nav{
	clear: both;				
	float: left;
	width: 100%;
}

nav ul{
	font: bolder 24px 'Trebuchet MS', sans-serif;
	width: 100%;
	height: 60px;
	color: #FFF;
	background-color: black;
	opacity: 0.5;		 	
	padding: 0;
	display: inline;
	border-bottom: 6px solid black;
	float: left;
}

nav li {
	float: left;
	margin-left: 20%;
	padding-top: 18px;
	list-style: none;
}
nav li a {
	display: block;
	padding: 5px 15px;	
	color: #FFF;	
	text-decoration: none;	
}
nav li a:hover {
	color: #FFF;
	background-color: grey;
}
nav li a#current  {
	color: #FFF;
	background-color:grey;
}

ul.d {
        float: left;
        text-align: left;
        color: white;
        font: bolder 24px 'Trebuchet MS', sans-serif;
    
}

#numeri{
	
	margin-left: 30%;
	height: 100%;
	width: 40%;
	border: solid grey;
}

#orologio{
	text-align: center;
}

#preScelta{
	color: rgb(111,0,255);
	font-family: "Courier New", monospace;
	font-size: 40px;
}

#regole{
	width: 40%;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12pt;
	text-align: justify;
	background: #FFF;
	float: right;
	margin-top: 15px;
	margin-right: 30px;
	padding: 0;
}


#scelta{
	width: 100px;
	height: 100%;
	font-size: 50px;
	font-family: "Courier New", monospace;
	background-color: rgb(100, 125, 255);
	border-radius: 10px;
	margin-left: 10%;
}

.sidebox{
	float:right;
	height: 200px;
	width: 180px;

}

.sidebox a{
	color: blue;
}

#subTitle{
	color: rgb(111,0,255);
	font-size: 25px;
	text-align: center;
	font-family: "Courier New", monospace;
	margin-bottom: 0;
	height: 5%;
	width: 100%;
	padding-bottom: 0;
}

table{
	margin-left: 26%;
	width: 47%;
	height: 50%;
	font-family: "Courier New", monospace;
	font-size: 25px;
	border: solid blue;
}

tbody{
	border: solid blue;
	text-align: center;
	background-color: white;
}

#wrap{
	float: left;
	width: 770px;
	margin-left: 20%;
	background: #FFF repeat-y;
}













